/* External */
body {
    padding: 0%;
}

h3 {
    color: green;
}

/* Classes */
.paragraph {
    background-color: #000;
    color: green;
    padding: 5px;
    width: 50%;
}

/* ID */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    width: 100%;
    font-size: 20px;
}

/* Ordem das regras */
h2 {
    border-bottom:  none;
}

.titulo {
    border-bottom: 3px solid red;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome de cores */
.color-name {
    color: crimson;
}

/* Cor Hexadecimal */
.hex {
    color: #556ee2;
}

.hex-2 {
    color: #092aaa;
}

/* Mais sobre hexadecimal 
Quando o mesmo valor se repete no color
#ffffff = #fff
#11aa55 = #1a5
 */

.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #a5f;
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0)
}

.mixed-rgb {
    color: rgb(12,199,0);
}

/* RGBa */
.rgba {
    color: rgba(99, 255, 99, 0.9)
}

.mixed-rgba {
    color: rgba(255,0,0, 0.2);
}

/* HSL */
.hsl {
    color: hsl(12, 89%, 10%);
}

.mixe-hsl {
    color: hsl(190, 40%, 99%);
}

/* Background-color */
.bg {
    background-color: #000;
    color: #fff;
}

.bg2 {
    background-color: rgb(90, 88,200);
    color: black;
}

/* Background opacity */
.bg-opacity {
    background-color: green;
    opacity: .2;
}

.bg-opacity2 {
    background-color: #999;
    opacity: .80;
}

/* RGBa com opacity */
.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
}

/* bg image */
.bg-image {
    background-image: url("../../2_HTML/assets/audi.jpeg");
    padding: 10px;
    color: #000;
}

/* Centralizando bg image */
.not-centered-bg, 
.centered-bg {
    height: 300px;
    width: 300px;
    background-image: url("../../2_HTML/assets/audi.jpeg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* Lagura e altura */
.height-width {
    height: 200px;
    width: 50%;
    background-color: #000;
}

.height-width-2 {
    height: 200px;
    background-color: #333;
}

/* Padding */
.without-padding,
.padding {
    background-color: #111;
    color: #fff;
}

.padding {
    background-color: #999;
    padding: 20px;
}

/* Padding individual */
.padding-individual {
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 35px;
    padding-bottom: 20px;
    background-color: #a5f;
}

/* Shorthand Properties */
.shorthand-properties {
    background-color: #444;
    padding: 20px 12px 18px 20px;
}

.shorthand-properties {
    background-color: #555;
    padding: 10px 20px;
}

/* Padding with width */
.without-border-box {
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box {
    background-color: #4a4;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */
.border {
    border: 5px solid #4a4;
    padding: 10px;
}

.border-2 {
    border: 2px dotted #a5f;
    padding: 5px;
}

/* Borda individual */
.border-left {
    border-left: 3px solid #092aaa;
    background-color: #4a4;
    padding: 25px;
    color: #fff;
}

.border-bottom {
    border-bottom: 5px double #399;
    background-color: #222;
    padding: 20px;
}

/* Borda arredondada */
.rounded-p {
    border: 4px solid #a5f;
    background-color: #000;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
}

.rounded-p-2 {
        margin-top: 10px;
    background-color: #000;
    color: #fff;
    padding: 15px;
    border-radius: 25px;
}

/* Margins */
.margin {
    margin: 10px;
    background-color: #222;
}

.margin-top {
    margin-top: 50px;
    background-color: #444;
    padding: 10px;
}

.margin-shorthand {
    background-color: #666;
    margin: 5px 10px 15px 20px;
}

/* Box model */
.box-model {
    margin: 20px;
    padding: 15px 20px;
    border: 3px solid #845;
    border-radius: 7px;
    width: 200px;
    height: 100px;
}

/* Desafio 3 */
#desafio-3 {
    margin-top: 20px;
    padding: 20px;
    border: 20px dotted #4a4;
    border-radius: 20px;
    height: 80px;
    width: 300px;
    background-color: #556ee2;
    outline: 20px solid #845;
}

.texto-h2 {
    color: #4a4;
    font-size: 40px;
    font-weight: 800;
    border: none;
}

/* Alinhamento de texto */
.text-aligned {
    text-align: right;
}

.container-center {
    text-align: center;
    width: 300px;
    border: 1px solid #4a4;
}

.container-center h2 {
    border: none;
}

/* Text decoration */
.underline {
    text-decoration: underline;
}

.line-trough {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
    color: #399;
}

/* Text transform */
.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

/* Espaçamento de letras */
.spacing {
    letter-spacing: 5px;   
}

/* Fontes */
.serif {
    font-family: Georgia;
}

.sans-serif {
    font-family: Helvetica;
}

.mono-space {
    font-family: 'Courier New';
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

/* Font Style */
.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

/* Font weigth */
.weigth-100, .weigth-800 {
    font-family: Helvetica;
}

.weigth-100 {
    font-weight: 100;
}

.weigth-800 {
    font-weight: 800;
}

/* Font size */
.size-20 {
    font-size: 20px;
}

.size-50 {
    font-size: 50px;
}

.size-200 {
    font-size: 200px;
}